.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
  padding: 10px;
  border-style: groove;
  grid-template-areas:
    "header header"
    "sidebar summary"
    "sidebar chart";
}

.content {
  border-style: groove;
  justify-content: center;
  &.header {
    grid-area: header;
  }

  &.sidebar {
    grid-area: sidebar;
  }

  &.summary {
    grid-area: summary;
    overflow: auto;
  }
  &.chart {
    grid-area: chart;
    justify-content: center;
  }
}
